@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
.label,
.user__info--role,
.user__courses--course {
  display: flex;
  align-items: center;
  background: #ece9ff;
  border-radius: 4px;
  padding: 5px 10px;
}
